.main-content {
    padding: 0 !important;
}

/*让搜索form靠左*/
.el-form--inline {
    display: flex;
    /* 相当于默认加了一句flex-direction:row*/
}
ul li {
    text-align: left;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 50px;
}
/* 背景变色 */
.back-blue {
    background-color: skyblue;
}

.back-yellow {
    background-color: rgb(228, 235, 135);
}

.back-green {
    background-color: rgb(152, 235, 135);
}